.personalinfo-container {
    background-color: #FFFFFF;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
    padding: 30px 50px;
    border-radius: 10px;
    display: block;
}

.personalinfo-form {
    display: flex;
    flex-direction: column;
}

.text-label {
    font-weight: 700;
    margin: 25px 0 5px 0;
}

.personalinfo-form input[type=text] {
    border-radius: 7px;
    height: 40px;
    padding: 0 0 0 10px;
}

.personalinfo-btn-container {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-between;
}

.personalinfo-btn-update {
    background-color: black;
    color: #FFFFFF;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.15);
    transition: 200ms ease-out;
    cursor: pointer;
}

.personalinfo-btn-update:hover {
    background-color: #FFFFFF;
    color: black;
}

.personalinfo-btn-logout {
    background-color: #FFFFFF;
    color: black;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.15);
    transition: 200ms ease-out;
    cursor: pointer;
}

.personalinfo-btn-logout:hover {
    background-color: black;
    color: #FFFFFF;
}