<html>
    <form action="/register" method="post">
        <input type="email" name="username">
        <input type="password" name="password">
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href="/auth/google">Google</a>
        <a href="/auth/facebook">Facebook</a>
    </div>
</html>