.loginpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.formbox {
  background-color: #FFFFFF;
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}

.formbox div {
  width: 100%;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

.input-lg {
  box-sizing: border-box;
  border-radius: 7px;
  height: 40px;
  padding: 0 0 0 10px;
  width: 100%;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin: 20px 0 0 0 ;
  justify-content: space-between;
}

.btn-container button {
  transition: 200ms ease-out;
}

.loginbtn {
  color: #FFFFFF;
  background-color: #28161C;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}

.createaccbtn {
  color: #28161C;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 180px;
  height: 40px;
  border-radius: 20px;
}

.loginbtn:hover {
  color: #28161C;
  background-color: #FFFFFF;
}

.createaccbtn:hover {
  color: #FFFFFF;
  background-color: #28161C;
}

@media only screen and (max-width: 700px) {
  .formbox {
    width: 80%;
  }
}