

.formbox {
  display: flex;
  justify-content: center;
  width: 600px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 3px 5px 20px rgba(0,0,0,0.25);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 152px;
}


input {
  width: 500px;
  height: 32px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.loginbtn {
  font-size: 20px;
  background: #28161C;
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
  margin-top: 40px;
  margin-left: 400px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginbtn:hover {
  background-color: #4f2b3d;
}
