

.formbox {
  display: flex;
  justify-content: center;
  width: 90%;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 3px 5px 20px rgba(0,0,0,0.25);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 152px;

}


.input-lg {
  width: 750px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  padding-left: 10px;
}

.loginbtn {
  font-size: 18px;
  background: #28161C;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 10px 30px;
  color: #FAF8FF;
  margin-top: 40px;
  margin-left: 85%;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.15);
}

.loginbtn:hover {
  background-color: #4f2b3d;
}


@media only screen and (max-width: 900px) {
  .formbox {
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .input-lg {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 30px;
  }
  
  .loginbtn {
    margin-left: 65%;
    margin-right: auto;
    font-size: 15px;
  }

  .form-title {
    margin-left: 20px;
  
  }
}