/* Navbar container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;

}
    
/* Logo image */
.nav-logo {
  width: 100px;
  height: auto;
}
  
/* Navigation links container */
.btnlist {
  display: flex;
  gap: 40px;
}

/* Navigation link styles */
.nav-link {
  font-size: 18px;
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-weight: 300;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#login-button {
  border-radius: 40px;
  width: 100px;
  font-size: 15px;
  color: #FAF8FF;
  background-color: #28161C;
  cursor: pointer;
  transition: 200ms ease-out;
}

#login-button:hover {
  background-color: #FFFFFF;
  color: #28161C;
}

.responsive-btn {
  display: none;
}

@media (max-width: 800px) {
    /* Navbar container */
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Navigation links container */
    .btnlist {
      display: none;
    }

    .responsive-btn {
      display: block;
      width: 30px;
      opacity: 1;
      cursor: pointer;
      height: auto;
      transition: 100ms ease-out;
    }

    .responsive-btn:hover {
      opacity: 0.6;
    }

    .logo-and-icon {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 0 10px 0;
      justify-content: space-between;
      align-items: center;
    }

    .nav-link {
      padding: 15px 20px;
      transition: 60ms ease-out;
    }
  }

@media (max-width: 800px) {
  .btnlist.responsive {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    width: 100%;
  }

  #login-button {
    border-radius: 0px;
    font-size: 18px;
    color: #28161C;
    background: none;
    cursor: pointer;
    transition: 200ms ease-out;
    align-self: flex-end;
  }

  #login-button:hover {
    text-decoration: none;
    background-color: #28161C;
    color: #FFFFFF;
  }

  .nav-link:hover {
    text-decoration: none;
    background-color: #28161C;
    color: #FAF8FF;
  }
}