.nav {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  margin-right: 5%;
 
}

.btnlist {

   
}


.nav-link {
    font-family: Inter;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px;
    line-height: 40px;
    color: #28161C;


}

#button {
    border-radius: 40px;
    color: #FAF8FF;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #28161C;
    cursor: pointer;
   
}
img {
    width: 100px;
    height: 100px;
    margin-left: 3%;
}