.nutrition-item {
    max-height: 60px;
    max-width: 633px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.nutrition-item:last-child {
    margin-bottom: 0px;
}

.nutrition-item-big {
    background-color: #F8DEC3;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.nutrition-item-big span {
    font-weight: 600;
    font-size: 2em;
}

.nutrition-item-big-img {
    height: 83.33%;
    width: 83.33%;
}

.nutrition-item-title {
    font-weight: 600;
    font-size: 3em;
    line-height: 36.31px;
    margin-left: 3%;
}

.nutrition-item-amount {
    flex-grow: 1;
    text-align: right;
    padding-right: 1.5%;
    font-weight: 400;
    font-size: 3em;
    line-height: 36.31px;
}