.popular-recipe-container {
    margin: 20rem 0 10rem 0;
}

.popular-recipe-container h2 {
    font-size: 2rem;
    margin-left: 4%;
    margin-bottom: 3%;
}

.recipe-card {
    height: auto;
    border-radius: 1.5rem;
    background-color: #F4EDE5;
    padding: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}

.recipe-card img {
    margin: 0;
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.recipe-card h3 {
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.star-ratings {
    margin: 1rem 0;
}

.recipe-card p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
}

.bolded { 
    font-weight: bold; 
}


