.mtr-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Style left side */

.mtr-left-background {
    position: absolute;
    background-color: #F4EDE5;
    width: 100%;
    height: 35rem;
    margin-top: 9.5rem;
    z-index: -4;
}

.mtr-left-side img {
    position: absolute;
}

.mtr-shape {
    z-index: -3;
    width: 600px;
    height: auto;
    left: 0px;
}

.mtr-bowl1 {
    z-index: -2;
    width: 444px;
    height: auto;
    left: 0rem;
    transform: translateY(13%);
}

.mtr-bowl2 {
    z-index: -1;
    width: 444px;
    height: auto;
    left: 10rem;
    transform: translateY(80%);
}

/* Style right side */

.mtr-right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 9.5rem;
    width: 100%;
    padding-top: 4rem;
}

.mtr-title {
    white-space: nowrap;
    font-size: 2.5rem;
    text-transform: none;
    margin: 0 2rem 2rem 0;
    z-index: 1;
}

.mtr-description {
    margin: 0 2rem 0 0;
    font-size: 1.37rem;
    font-weight: 300;
    text-align: right;
    line-height: 2.5rem;
}

.mtr-list {
    list-style-type: none;
    margin: 3rem 2rem 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 40rem;
}

.mtr-list li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    gap: 1.4rem;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

.mtr-list li img {
    width: 2rem;
    height: auto;
}

.mtr-about-btn {
    margin: 1rem 2rem 0 0;
    background: #28161C;
    box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.15);
    color: #FAF8FF;
    font-weight: bolder;
    height: 3rem;
    width: 9rem;
    border-radius: 2rem;
    font-size: 110%;
}

@media only screen and (max-width: 1350px) {
    .mtr-container {
        display: flex;
        flex-direction: column;
    }

    .mtr-title {
        white-space: normal;
        max-width: 80%;
        margin: 0 0 1rem 0;
    }

    .mtr-shape{
        /* display: none; */
        opacity: 0.1;
    }

    .mtr-bowl1{
        opacity: 0.1;
    }

    .mtr-bowl2 {
        opacity: 0.2;
    }

    .mtr-right-side {
        align-items: center;
    }

    .mtr-title {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        /* background-color: #F8DEC3; */
    }

    .mtr-description {
        text-align: center;
        max-width: 700px;
        font-size: 1.15rem;
        margin: 0 0 1rem 0;
    }
    
    .mtr-list {
        text-align: center;
        margin: 0;
    }

    .mtr-about-btn {
        margin: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 795px) {
    .mtr-title {
        font-size: 1.8rem;
        max-width: 90%;
    }

    .mtr-description {
        text-align: center;
        width: 70%;
        font-size: 0.9rem;
        line-height: 2rem;
    }

    .mtr-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .mtr-list li{
        font-size: 0.8rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .mtr-list li img {
        width: 23px;
        height: 23px;
    }

    .mtr-about-btn {
        margin: 0;
        height: 2rem;
        width: 6rem;
        font-size: 12px;
        font-weight: 300;
    }
}