/* main {
    display: flex;
} */

.layout-container {
    display:flex;
    flex-direction:column;
 
    /* fallback height */
    min-height:100vh;
 
    /* new small viewport height for modern browsers */
    min-height:100svh;
 }
 .layout-container > footer {
    margin-top:auto;
 }